{% extends 'blog/base.html' %}
{% block title %}
Change Password
{% endblock %}
{% block body %}
<div class="container col-sm-4">
    <form action="" method="POST">
        {% csrf_token %}
        {% for fm in form %}
        	{{fm.label_tag}}{{fm}}{{fm.errors|striptags}} <br> <br>
        {% endfor %}
        <!-- {% if form.non_field_errors %}
        	{% for error in form.no_field_errors %}
        		<p>{{error}}</p>
        	{% endfor %}
        {% endif %} -->
        <input type="submit" class='btn btn-success' value="Update">
    </form>
</div>
{% endblock %}