{% extends 'blog/base.html' %}
{% block title %}
Timeline
{% endblock %}
{% block body %}
<div class="container col-sm-8"><br>
    <h3>Welcome, {{name}}</h3><br>
    <a href="{% url 'addpost' %}" class="btn btn-primary btn-lg">Add Post</a><br><br>
    {% for fm in form %}
    <div class="card mb-3">
        <h6>{{fname}} {{lname}}</h6>
        <img src="{{fm.img.url}}" class="card-img-top" alt="Sry Image Is Not Supported">
        <div class="card-body">
            <h5 class="card-title">{{fm.title}}</h5>
            <p class="card-text">{{fm.desc}}</p>
            <p class="card-text"><small class="text-muted">{{fm.date}}</small></p>
            <a href="{% url 'editpost' fm.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'deletepost' fm.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}